<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>MacPorts</string>
	<key>uuid</key>
	<string>7FBFF7A4-A327-4347-AEF3-2A13312D5C97</string>
</dict>
</plist>
